back-end/target/
back-end/pom.xml.tag
back-end/pom.xml.releaseBackup
back-end/pom.xml.versionsBackup
back-end/pom.xml.next
back-end/release.properties
back-end/dependency-reduced-pom.xml
back-end/buildNumber.properties
back-end/.mvn/timing.properties
back-end/.classpath
back-end/.project
back-end/.settings/
back-end/src/main/resources/application.properties
.idea/

front-end/.DS_STORE
front-end/node_modules
front-end/scripts/flow/*/.flowconfig
front-end/*~
front-end/*.pyc
front-end/.grunt
front-end/_SpecRunner.html
front-end/__benchmarks__
front-end/build/
front-end/remote-repo/
front-end/coverage/
front-end/flow-coverage/
front-end/.module-cache
front-end/fixtures/dom/public/react-dom.js
front-end/fixtures/dom/public/react.js
front-end/test/the-files-to-test.generated.js

*.swp
*.swo
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
back-end/.mvn/wrapper/maven-wrapper.jar